@model IEnumerable<WebStore.ViewModels.EmployeeViewModel>

<h1>Список сотрудников</h1>

<a asp-action="Edit" class="btn btn-success">Добавить</a>

<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
        <td>@item.FirstName</td>
        <td>@item.SurName</td>
        <td>@item.Patronymic</td>
        <td>
            @Html.ActionLink("Детали", "EmployeeDetails", new { id = item.Id })
        </td>
        <td><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-cut"></i></a></td>
    </tr>
    }
</table>